.ratings-container {
    font-family: 'Kanit', 'sans-serif';
    color: #000;
    background-color: #fff4f4;
    /*padding: 10px;*/
    width: 250px;
}

.ratings-header {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 10px;*/
}

.histogram {
    display: flex;
    align-items: flex-end;
    height: 100px; /* Adjust as needed */
    padding: 10px 0;
    justify-content: center;
}

.histogram-bar {
    width: 20px; /* Adjust the width as needed */
    background-color: #666;
    margin-right: 3px;
    text-align: center;
    color: #ccc;
    font-size: 0.7em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.histogram-bar span {
    display: none; /* Hide by default, show on hover or as needed */
}

.histogram-bar:hover span {
    display: block; /* Show the value on hover */
}

.ratings-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 10px;*/
}

.rating-value {
    font-size: 1.5em;
    color: #4CAF50; /* Green color to match the stars */
}

.rating-stars {
    font-size: 1.5em;
    color: #4CAF50;
}
