.radio-button-popup {
  border-radius: 28px;
  border: 0px;
  font-size: 24px;
  font-weight: 500;
  background: rgb(249 250 251);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.radio-button-popup.selected {
  /* bg-blue-900 */
  background: rgb(30 58 138);
  color: #fff;
}
