.rating-popup {
  position: relative;
  /* width: 330px; */
  /* height: 90px; */
  width: 400px;
  height: 90px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  background-color: rgb(249 250 251);
  /* box-shadow: 0 0 2px #b3acac; */
}

.star-rating-popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.1em;
}

.star-popup {
  padding-bottom: 10px;
  cursor: pointer;
  color: rgb(209 213 219);
  transition: color 0.5s ease-in-out;
}

.star-popup.active {
  color: #ffcc00;
}
