.radio-button-custom {
  border-radius: 33.6px;
  border: 0px;
  font-size: 30px;
  font-weight: 500;
  background: rgb(249 250 251);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.radio-button-custom.selected {
  /* bg-blue-900 */
  background: rgb(30 58 138);
  color: #fff;
}

.ui-segment {
  color: black;
  /* border: 1.25px solid rgb(30 58 138); */
  border-radius: 33.6px;
  display: inline-block;
  /* font-family: "Lato", Georgia, Serif; */
}

.ui-segment.active {
  border: 2.4px solid rgb(30 58 138);
}
.ui-segment button.option {
  font-size: 30px;
  font-weight: 500;
  background: rgb(249 250 251);
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.ui-segment button.option:last-child {
  border-top-right-radius: 28.8px;
  border-bottom-right-radius: 28.8px;
  border-left: 2px solid rgb(249 250 251);
}

.ui-segment button.option:first-child {
  border-top-left-radius: 28.8px;
  border-bottom-left-radius: 28.8px;
  border-right: 2px solid rgb(249 250 251);
}

.ui-segment button.option.active {
  /* bg-blue-900 */
  background: rgb(30 58 138);
  color: #fff;
}

.ui-segment button.option.active:last-child {
  border-left: 2px solid white;
}

.ui-segment button.option.active:first-child {
  border-right: 2px solid white;
}
